.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
}

.App div {
  flex: 1;
}

.App h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}